.client-card {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 4px;
    box-shadow: 2px 2px 2px #888888;
}

.card-padding {
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.client-header {
    background-color: green;
}

.number-row {
    margin-bottom:10pt;
}

.custom-input {
    background-color: inherit;
    width: 140pt;
    border-width: 0px;
    color: black !;
}
.number {
    background-color: inherit;
    font-size: 22pt;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  line-height: 70pt;
  vertical-align: center;
}

.switch-line {
    height: 70pt;
    display: table-cell;
    vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.service-row {
    height: 75pt;
}

.switch-col {
    padding:0px;
    margin:0px;
    display: table;
}

.service-text {
    text-overflow: clip;
    font-size: 14px;
    text-align: start;
    padding-top: 4px;
}

.location-row {
    height:145pt;
}

.col {
    word-wrap: break-word;
}

.row {
    border-width: 1px;
    border-color: rgba(50, 50, 50, 0.3);
    border-style: solid;
    box-shadow: 2px 2px 2px #888888;
}

.hr-test {
    background-color: green;
}
